body {
  background-color: #F5F5F5;
  font-family: Helvetica, Arial, sans-serif, calibri;
}

.container {
      width:1400px;
      height: 60px;
      margin: auto;
      padding:2px 25px;
      border:1px solid #ffffff;
      background:#fff;
      text-indent: 100px;
    }

.navigation {
  /*display: inline;
  margin: 0px 0px 0px 0px;
  padding: 18px 18px 18px 18px;
  text-indent: 50px;*/
  position:relative;
  margin: 20px 0px 0px 7px;
  padding-left: 19px;
;
}

.navigation.home{
  padding: 0px;
}
.navigation.contactme {
  margin: 25px 0px 0px 0px;
}

.navigation.aboutme {
  padding: 25px 0px 0px 5px;
}

a  {
  color: black;
  transition: color .5s;
  position: relative;
  display: inline;
  padding: 5px;
  text-decoration: none;
  font-family: system-ui;
  font-size: small;

}

a:hover {
  color: lightblue:
}

section {
  width: 87.9%;
  float: left;
}

div {
  margin: 10px;
  width: 100%;
  height: 100%x;
}

h1 {

}
h2{
  text-align: center;
  font-size: 28px
  font-weight:100px;
  margin-top: 0px;
  margin-bottom: 22px;



}
h3{

}
h4{
  text-align: center;
  font-size: 21px;
  font-family: calibri;
  font-weight:normal;
}
h5{

}
h6 {
  color: #0AB5E5;
  text-align: center;
  margin-top: 35.5px;
  margin-bottom: 18px;
  font-size: 9.4px;
  font-weight:550;
  letter-spacing: .6px;
}

p {
  padding: 0px;
  margin-left: 42px;
  margin-right: 42px;
  line-height: 1.62;
  font-family: calibri;
  font-weight:lighter;
  font-size: 16.3px;
}

button {
  background-color: white;
  border: 2px solid #EEEEEE;
  color: #1EC6F8;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display:flex;
  font-size: 12px;
  font-weight: lighter;
  margin: auto;
  margin-top: 25.5px;
  border-width: thin;
  letter-spacing: 1px;
}

hr {
  margin-top: 33px;
  width: 654px;
  border-top: .5px solid #EEEEEE;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.socialheading {
  position: absolute;
  left: 924px;
  margin-top: -23px;
}

.left1 {
  float: left;
  background: #ffffff;
  width: 749px;
  height: 910px;
  margin: 51px 0px 0px 125px;
}

#secfooter1{
  padding: 9px;
  font-family: calibri;
  font-size:14.2px;
  margin-top: 5px;
  padding: 0px, 0px, 0px, 15px;
  letter-spacing: .1px;
  font-weight: lighter;
  display: inline-block;
}

.socialleft1 {
  position: absolute;
  left: 600px;
  margin-top: -45px;

}

.right1  {
  float: right;
  background: #ffffff;
  width: 360px;
  height: 675px;
  margin: 51px 0px 0px 30px;
}

#r1{
  text-align: center;
  font-size: 21px;
  font-family: calibri;
  font-weight:bold;
  margin-top: -75.5px;
}

.socialright1 {
  position: absolute;
  left: 980px;
}

.rectangle {
  position: relative;
  top: 0;
  left: 0;
}

.circular--square {
  position: relative;
  top: -86px;
  height: 285px;
  left: 33px;
  border: 5px solid #ffffff;
}

.left2 {
  float: left;
  background: #ffffff;
  width: 749px;
  height: 1028px;
  margin: 41px 0px 0px 125px
}

#secfooter2{
  font-family: calibri;
  font-size:14.2px;
  margin-top: 5px;
  padding: 0px, 0px, 0px, 15px;
  letter-spacing: .1px;
  font-weight: lighter;
  display: inline-block;
}

.socialleft2 {
  position: absolute;
  left: 600px;
  margin-top: -50px;
  padding: 11px;
}

.right2 {
  float: right;
  background: #ffffff;
  width: 360px;
  height: 910px;
  margin: -197px 0px 0px 30px;
}

.left3 {
  float: left;
  background: #ffffff;
  width: 749px;
  height: 865px;
  margin: 41px 0px 0px 125px
}

#secfooter3{
  font-family: calibri;
  font-size:14.2px;
  margin-top: -2px;
  padding: 0px, 0px, 0px, 15px;
  letter-spacing: .1px;
  font-weight: lighter;
  display: inline-block;
}

.socialleft3 {
  position: absolute;
  left: 600px;
  margin-top: -50px;
  padding: 11px;
}

.right3 {
  float: right;
  background: #ffffff;
  width: 360px;
  height: 493px;
  margin: -1226px 0px 0px 50px;
  image-
}

.left4 {
  float: left;
  background: #ffffff;
  width: 748px;
  height: 941px;
  margin: 41px 0px 0px 126px;
}

#secfooter4{
  font-family: calibri;
  font-size:14.2px;
  margin-top: -3px;
  padding: 0px, 0px, 0px, 15px;
  letter-spacing: .1px;
  font-weight: lighter;
  display: inline-block;
}

.socialleft4 {
  position: absolute;
  left: 600px;
  margin-top: -44px;
  padding: 6px;
}

.right4 {
  float: right;
  background: #ffffff;
  width: 360px;
  height: 404px;
  margin: -1678px 0px 0px 50px;
}


/*.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.cell {
  flex: 0 0 25%;
  height: 100px;
  margin-bottom: 3px;
  background-color: #ffffff;
}
.cell:nth-child(3n) {
  background-color: #ffffff;
}*/

.footer {
  margin-top: 42px;
    display: inline-block;
    font-style: times new roman;
    justify-content:center;
    padding: 5px;
    background-color: #000000;
    color: #fff;
